body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} */

.row-top {
  height: 50vh;
  display: flex;
}

.row-down {
  height: 50vh;
}

.col-left {
  width: 20%;
  height: 100%;
  background-color: rgb(70, 73, 75);
  text-align: center;
}

.col-left h1 {
  width: 100%;
  background-color: hsl(225, 6%, 13%);
  color: #fff;
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.col-left form {
  width: 100%;
  margin: 1rem 0;
}

.col-left button {
  padding: 0.6rem 1.5rem;
  background-color: hsl(225, 6%, 13%);
  border: 2px solid hsl(225, 6%, 13%);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.col-left button:hover {
  background-color: rgba(192, 183, 183, 0.781);
  border-color: #fff;
}

.col-left h3 {
  border-bottom: 1px solid rgba(192, 183, 183, 0.781);
  width: 90%;
  margin: auto;
  padding-bottom: 1rem;
}

.fileCreator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.fileCreator input {
  border: none;
  margin-top: 1.5rem;
  width: 12rem;
  height: 2rem;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(192, 183, 183, 0.781);
  border-radius: 5px;
  font-size: 1rem;
  color: rgb(236, 232, 232);
}

.fileCreator input:focus {
  outline: none;
}

.col-right {
  width: 80%;
  height: 100%;
}

.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.pane {
  height: 100%;
  display: flex;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: hsl(225, 6%, 25%);
}

.Download {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 6%, 13%);
  color: #fff;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .row-top {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .col-left {
    width: 100%;
    height: 20%;
  }

  .col-right {
    width: 100%;
    height: 80%;
  }
}

@media only screen and (max-width: 992px) {
  .row-top {
    height: auto;
  }

  .col-right {
    flex-direction: column;
  }

  .code-mirror-wrapper {
    height: 20rem;
  }
}
